.state-btn {
  @include flexCenter;
  gap: 0.5rem;
  background-color: $color-white;
  color: $color-gray;
  padding: 0.5rem 1rem;
  font: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  border: none;
  cursor: pointer;
  &--error {
    color: $color-error;
  }
  &--success {
    color: $color-success;
  }
}
