.event-details-form {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  padding: 0 5rem;
  @include respond(phone) {
    padding: 0 1rem;
  }
}
.event-images-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__success {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.quill {
  width: 96rem;
  @include respond(tab-land) {
    width: 80rem;
  }
  @include respond(tab-port) {
    width: 66rem;
  }
  @include respond(phone) {
    width: 45rem;
  }
  @include respond(phone-sm) {
    width: 40rem;
  }
  @media (max-width: "329px") {
    width: 32rem;
  }
}
.ql-container {
  min-height: 35rem;
}

.form {
  &__controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > label {
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }
    > span {
      color: $color-gray;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  &__input-text {
    padding: 1rem 1.5rem;
    font: inherit;
    border: none;
    outline: none;
    border: 1px solid $color-gray-light-1;
  }
  &__textarea {
    padding: 1rem 1.5rem;
    min-height: 10rem;
    font: inherit;
    border: none;
    outline: none;
    border: 1px solid $color-gray-light-1;
  }
  &__autosuggestion {
    padding: 1rem 1.5rem;
    font: inherit;
    border: none;
    outline: none;
    border: 1px solid $color-gray-light-1;
    + ul {
      max-height: 15rem;
      width: 20rem;
      overflow-y: scroll;
      li {
        cursor: pointer;
      }
    }
  }
  &__img__input {
    display: none;
  }
}

.schedule {
  &__form {
    @include respond(phone) {
      text-align: center;
    }
  }
  &__inputs {
    display: flex;
    gap: 0.5rem;
    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond(phone-sm) {
    }
    > input {
      font: inherit;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
    }
  }
  &__btn {
    padding: 1rem 1.8rem;
    background: $color-primary-light;
    color: $color-white;
    border: none;
    outline: none;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  &__delete__btn {
    position: absolute;
    right: 0.1rem;
    top: -0.6rem;
    background: $color-gray;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  &__list {
    list-style: none;
    background-color: $color-white-light;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 3rem;
    margin-top: 2rem;
    text-align: left;
    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $color-white;
      padding: 1rem;
      &__title {
        font-size: 1.4rem;
        font-weight: 400;
      }
      &__time {
        font-size: 1.3rem;
      }
      &__details {
        font-size: 1.3rem;
      }
    }
  }
}

.sponsors {
  &__form {
    text-align: center;
  }
  &__inputs {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;

    > input {
      font: inherit;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
    }
  }
}
