.stepper {
  &__top__wrapper {
    font-size: 2.2rem;
  }
  &__label {
    font-weight: 500;
  }
  &__value {
  }
}
.step-switcher {
  @include flexCenter;
  gap: 2rem;
  flex-wrap: wrap;
  &__item {
    @include flexCenter;
    cursor: pointer;
  }
  &__btn {
    @include flexCenter;
    gap: 1;
    border: none;
    background: transparent;
    cursor: pointer;
    // border: 2px solid $color-gray-light-2;
    // padding: 0.5rem 1rem;
    // border-radius: 5rem;
    font: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-gray;
    &--validated {
      color: $color-gray-dark;
      font-weight: 500;
    }
    &__icon {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      @include flexCenter;
      margin-right: 1rem;
      &--validated {
        background: $color-secondary;
      }
      &--not-validated {
        background: $color-gray-light-2;
      }
    }
  }
}
