.schedule {
  &__title {
    color: $color-primary-dark;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 5rem;
    @include respond(phone) {
      font-size: 2.6rem;
    }
  }
}
