$color-primary-light: #5e7cd4;
$color-primary-dark: #396496;

$color-secondary: #54ab73;

$color-tirtiary: #c5498b;
$color-white: #fff;
$color-white-light: #f0f0f0;

$color-gray: #767676;
$color-gray-light-1: #979797;
$color-gray-light-2: #bdbdbd;
$color-gray-dark: #424242;

$color-black: #000;
$color-black-light: #282828;

$color-error: rgb(197, 44, 103);
$color-error-bg: rgba(205, 8, 8, 0.177);

$color-success: rgb(53, 169, 103);
