$color-primary-light: #6a4bc5;
$color-primary-dark: #523996;

$color-secondary: #4fa16c;

$color-white: #fff;
$color-white-light: #f0f0f0;

$color-gray: #767676;
$color-gray-light-1: #979797;
$color-gray-light-2: #bdbdbd;
$color-gray-dark: #424242;

$color-black: #000;
$color-black-light: #282828;
