.addevent {
  &__page {
  }
  &__wrapper {
    background-color: $color-white;
    padding: 5rem 0;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem;
    align-items: center;
    @include respond(tab-port) {
      width: 90%;
    }
    @include respond(phone) {
      padding-top: 2rem;
      width: 96%;
      gap: 2rem;
    }
  }
  &__step__error {
    background-color: $color-error-bg;
    color: $color-error;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    font-weight: 400;
  }
  &__step__details {
    position: relative;
    background-color: $color-white;
    width: 60rem;
    min-height: 70vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__step__btns {
    margin-top: 2rem;
    position: absolute;
    bottom: -0rem;
    width: 80%;
    justify-content: space-between;
    @include respond(phone) {
      width: 90%;
    }
  }
  &__step__btn {
    border: none;
    cursor: pointer;

    padding: 1rem 2.5rem;
    border-radius: 5rem;
    background: $color-primary-light;
    color: $color-white;
    &--left {
      position: absolute;
      left: 0rem;
    }
    &--right {
      position: absolute;
      right: 0rem;
    }
  }
}
