.admin {
  position: relative;
  &__loading {
    position: absolute;
    height: 100vh;
    width: 100vw;
    @include flexCenter;
    &__wrapper {
      padding: 2rem;
      @include flexCenter;
      flex-direction: column;
    }
    &__msg {
      text-align: center;
    }
    &__spinner {
    }
  }
  &__error {
    position: absolute;
    height: 100vh;
    width: 100vw;
    @include flexCenter;
    &__wrapper {
      padding: 2rem;
      @include flexCenter;
      flex-direction: column;
    }
    &__msg {
      text-align: center;
    }
    &__img {
    }
    &__btn {
      margin-top: 2rem;
      font: inherit;
      font-weight: 400;
      color: $color-primary-light;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: $color-white;
      cursor: pointer;
      border: 1px solid $color-white-light;
      width: 100%;
      padding: 1rem;
      justify-content: center;
      border-radius: 0.5rem;
    }
  }
  &__topbar {
    height: 6rem;
    background-color: $color-white;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    &__left {
      display: flex;
      gap: 2rem;
    }
    &__title {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  &__leftbar {
    position: fixed;
    top: 6.1rem;
    width: 26rem;
    height: calc(100vh - 6rem);

    transition: all 0.1s ease-out;
    @include respond(phone-sm) {
      width: 20rem;
    }
    &__exp-btn {
      border: none;
      background-color: transparent;
      position: absolute;
      right: 1rem;
      top: -0.5rem;
      font-weight: bold;
      line-height: 1;
      color: $color-gray;
      cursor: pointer;
      font: inherit;
      font-size: 2.4rem;
    }
    &__selected__btn {
      background-color: $color-primary-light !important;
      color: $color-white !important;
    }
    &__list {
      margin-top: 3.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &__item {
        margin: 0 0.5rem;
      }
      &__btn {
        font: inherit;
        font-weight: 400;
        color: $color-primary-light;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: $color-white;
        cursor: pointer;
        border: 1px solid $color-white-light;
        width: 100%;
        padding: 1rem;
        justify-content: center;
        border-radius: 0.5rem;
        gap: 1rem;
        transition: all 0.1s ease-out;
        &--collapse {
          .admin__leftbar__list__btn__label {
            display: none;
          }
        }
        &__icon {
          @include flexCenter;
        }
      }
    }
    &--collapse {
      width: 8rem;
      .admin__left__list__item__btn {
        flex-wrap: wrap;
      }
      @include respond(phone) {
        width: 6rem;
      }
    }
  }

  &__comps {
    position: absolute;
    top: 6rem;
    left: 26rem;
    width: calc(100vw - 26rem);
    transition: all 0.1s ease-out;
    @include respond(phone-sm) {
      left: 20rem;
      width: calc(100vw - 20rem);
    }
    &--collapse {
      left: 8rem;
      width: calc(100vw - 8rem);
      @include respond(phone) {
        left: 6rem;
      }
    }
  }
  &__cover {
    height: 30vh;
    width: 100%;

    background: $color-primary-light;
    @include flexCenter;
    &__title {
      color: $color-white;
      font-size: 3.6rem;
    }
  }
  &__tab {
    min-height: 60vh;
    background: $color-white;
  }
  &__dashboard {
    &__welcome {
      padding-top: 2.5rem;
      margin-bottom: 2.5rem;
      text-align: center;
      h1 {
        line-height: 1.2;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    &__cards {
      @include flexCenter;
      gap: 2rem;
      flex-wrap: wrap;
    }
    &__card {
      padding: 5rem 8rem;
      border-radius: 1.5rem;
      color: $color-white;
      @include flexCenter;
      flex-direction: column;
      gap: 1rem;
      &__btn {
        padding: 0.3rem 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        font: inherit;
        font-size: 1.6rem;
        color: $color-white;
        cursor: pointer;
        border: 2px solid $color-white;
        border-radius: 3rem;
      }
      &__title {
        @include flexCenter;
        gap: 1rem;
        font-size: 2rem;
        line-height: 1;
        font-weight: 500;
      }
      &__num {
        font-size: 5.6rem;
        font-weight: 300;
      }
      &--0 {
        background-color: $color-secondary;
      }
      &--1 {
        background-color: $color-primary-dark;
      }
      &--2 {
        background-color: $color-tirtiary;
      }
    }
  }
  &__events {
    padding: 3rem 2rem;
    &__wrapper {
      @include flexCenter;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }
}
