.blog__page {
  &__wrapper {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    @include respond(tab-land) {
      width: 86%;
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(tab-port) {
      width: 96%;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
      width: 86%;
    }
    @include respond(phone-sm) {
      width: 96%;
    }
  }
}
