.blog {
  &__coverimg {
    object-fit: cover;
    &__wrapper {
      height: 36rem;
      width: 100%;
      margin: auto;
      position: relative;
      margin-bottom: 3rem;

      @include respond(phone) {
        margin-bottom: 2rem;
        height: 32rem;
      }
      @include respond(phone-sm) {
        height: 24rem;
      }
    }
  }
  &__contents {
    width: 60%;
    margin: auto;
    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(phone) {
      width: 90%;
    }
  }
  &__article {
    margin-top: 5rem;
    &::first-letter {
      font-size: 4.5rem;
      line-height: 1;
      color: $color-primary-dark;
    }

    h3 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-transform: capitalize;
      line-height: 1.2;
      color: $color-primary-light;
      @include respond(phone) {
        font-size: 2.6rem;
      }
    }

    h4 {
      font-size: 2.4rem;
      font-weight: 400;
      margin-bottom: 2rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 3rem;
    }
    ol,
    ul {
      margin-left: 7rem;
      margin-bottom: 5rem;
      font-size: 1.8rem;
      li {
        margin-bottom: 0.3rem;
        font-weight: 400;
      }
      @include respond(phone) {
        margin-left: 4rem;
      }
    }
    a {
    }
    img {
      width: 100%;

      margin-bottom: 1rem;
    }
    img + h4 {
      font-weight: 300;
      text-align: center;
      margin: 0;
      margin-bottom: 5rem;
    }
  }
  &__info {
    margin-bottom: 3rem;
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__left {
      }
      &__right {
        display: flex;
        gap: 1rem;
        align-items: center;
        @include respond(phone) {
          flex-direction: column;
          gap: 0;
        }
      }
    }
    &__author {
      @include flexCenter;
      &__avatar {
        border-radius: 50%;
        &__wrapper {
          position: relative;
          height: 5.5rem;
          width: 5.5rem;

          @include respond(phone) {
            height: 5rem;
            width: 5rem;
          }
        }
      }
      &__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 2rem;
      }
      &__name {
        font-weight: 500;
        color: $color-gray;
        font-size: 1.6rem;
        line-height: 130.18%;
      }
      &__job {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 130.18%;
        color: $color-gray-light-1;
      }
    }
    &__dash {
      @include respond(phone) {
        display: none;
      }
    }

    &__date {
      font-size: 1.6rem;
      color: $color-gray-light-1;
      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
    &__duration {
      color: $color-gray-light-1;
      font-size: 1.6rem;

      @include respond(phone) {
        font-size: 1.4rem;
      }
    }
  }
  &__catagory__label {
    color: $color-gray;
    font-weight: 300;
    font-size: 2rem;
    line-height: 130.18%;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: $color-gray-light-1;
    @include respond(tab-land) {
      font-size: 1.8rem;
    }
  }
  &__title {
    color: $color-primary-light;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 4rem;
    line-height: 105.68%;
    text-transform: capitalize;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3.6rem;
    }
  }
}
