.exe-mem {
  &__page {
  }
  &__wrapper {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    @include respond(phone) {
      width: 96%;
      gap: 2rem;
    }
  }
}
