.landing {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  background: #4c07de;

  img {
    object-fit: cover;
  }

  .description {
    color: rgb(238, 238, 238);
    font-size: 24px;
    font-weight: 300;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2;
    z-index: 10;
    p {
      margin: 0px;
      margin-bottom: 0px;
    }
  }
}
