.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.developers {
  display: flex;
  gap: 10px;
  text-align: center;
}
